<!DOCTYPE html>
<html>
<head>
    <title>Emergency Contacts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>🚨 Emergency Contacts</h2>

    <div class="card">
        <h3>🚑 Ambulance</h3>
        <p>Call: 108</p>
    </div>

    <div class="card">
        <h3>👮 Police</h3>
        <p>Call: 100</p>
    </div>

    <div class="card">
        <h3>🔥 Fire</h3>
        <p>Call: 101</p>
    </div>

    <div class="card">
        <h3>🧑‍⚕️ Health Helpline</h3>
        <p>Call: 104</p>
    </div>

    <a href="/">Back</a>
</div>

</body>
</html>